:root {
            --font-header: 'Inter Tight', sans-serif;
            --font-body: 'Manrope', sans-serif;
            --color-gray: #4f4f4f;
            --color-fuchsia: #ff3fed;
            --color-orange: #ffac2f;
            --color-azul: #016fb9;
            --color-cherry: #ea3e84;
            --color-purple: #b13fff;
            --color-black: #191919;
            --color-white: #fefefe;
            --color-bright-white: #fff;
            --border-radius: 4px;
            --color-gradient: linear-gradient(12deg, var(--color-fuchsia) 0%, var(--color-orange) 100%);
            --test-alisa: rebeccapurple;
        }

